 ## Pandas FMCG Analysis

In [1]:
# Importing required libraries

import pandas as pd
import numpy as np

In [2]:
# Loading CSV file 

data = pd.read_csv("Raw Sales Data.csv")
df = pd.DataFrame(data)
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Month         224 non-null    object
 1   Channel       224 non-null    object
 2   Sub-Channels  224 non-null    object
 3   Product Name  224 non-null    object
 4   Category      224 non-null    object
 5   Qty           224 non-null    object
 6   Sales         224 non-null    object
dtypes: object(7)
memory usage: 12.4+ KB
None

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales
0,01-Dec-20,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,"1,116","4,28,700"
1,01-Dec-20,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,"3,003","13,74,831"
2,01-Dec-20,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,"2,962","7,32,167"
3,01-Dec-20,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,"1,004","3,77,100"
4,01-Dec-20,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,"1,52,287"

In [25]:
# changing datatype of column's

df['Qty'] = df['Qty'].str.replace(',', '').astype(int)
df['Sales'] = df['Sales'].str.replace(',', '').astype(int)
df['Month'] = pd.to_datetime(df['Month']).dt.month_name()

In [26]:
# Que 1. Monthwise number of quantities sold.

Monthly_qty_sold = df.groupby("Month")['Qty'].sum().sort_values()
Monthly_qty_sold

Month
January     67732
February    76393
March       80229
December    85427
Name: Qty, dtype: int32

In [27]:
# Que 2. Category wise Qty sold.

cate_sales = df.groupby("Category")["Qty"].sum()
cate_sales

Category
Functional nutrition     42354
Gourmet Nutrition        89279
Juices                  178148
Name: Qty, dtype: int32

In [28]:
# Que 3. Sub-channel wise total sales

sub_sales = df.groupby("Sub-Channels")["Sales"].sum().sort_values()
sub_sales

Sub-Channels
Offline - Central      375332
GOQII                  582600
Offline - East         811146
Offline -North        1206564
Big Basket            1207522
Offline - South       3446395
Flipkart              3770415
Offline - MT          6257948
Offline - West        6441427
D2C                  28047538
AMAZON               35606804
Name: Sales, dtype: int32

In [29]:
# Que 4. Highest sale in which month.

Monthly_highsales =  df.groupby("Month")["Sales"].sum().nlargest(1)
month_high = pd.DataFrame(Monthly_highsales, columns=["Sales"]).reset_index()
month_high

   Month     Sales
0  March  25127827

In [30]:
# Que 5. Highest selling product (based on sales) (packaging quantity doesn't matter. Ex. consider "GET SLIM JUICE 1 L" and  "GET SLIM JUICE 500 ML" as one product)

highest_sold_product = df["Product Name"].str.split('\d+').str[0]
highest_selling_product = df.groupby(highest_sold_product)["Sales"].sum().nlargest(1)
highest_selling_product

Product Name
ALOE + GARCINIA JUICE     12249252
Name: Sales, dtype: int32

In [31]:
# Que 6. List of different products company is offering (packaging quantity doesn't matter. Ex. consider "GET SLIM JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

product_list = df["Product Name"].str.split('\d+').str[0].unique()
pl = pd.DataFrame(product_list, columns = ['Product Name'])
print(pl)

                       Product Name
0                ALOE + AMLA JUICE
1            ALOE + GARCINIA JUICE
2                  ALOE VERA JUICE
3               ALOE VERA SKIN GEL
4                       NEEM JUICE
5                       NONI JUICE
6           SLIM SHAKE - CHOCOLATE
7               SLIM SHAKE - MANGO
8                   TRIPHALA JUICE
9                TULSI GILOY JUICE
10               WHEAT GRASS JUICE
11                      AMLA JUICE
12                  GET SLIM JUICE
13                    HIMALAYA OIL
14                 VIGOR MAX JUICE
15          ORGANIC JAGGERY POWDER
16              APPLE CIDER VINEGAR
17              VIRGIN COCONUT OIL
18              KARELA JAMUN JUICE
19    MASALA SUPERGRAIN MIX ENERGY
20  MASALA SUPERGRAIN MIX IMMUNITY
21              AMLA + GILOY JUICE
22                  DIA FREE JUICE
23               IMMUNE CARE JUICE
24                 ORGANIC GULKAND
25       VEGAN PROTEIN - CHOCOLATE
26               GET SLIM CAPSULES
27              RAW HONEY ( MADHU)

In [33]:
# Que 7. Create a single excel file to save all the outputs generated above in different subsheets.

with pd.ExcelWriter('FMCG Analysis by Chetan Tomar.xlsx') as writer:
    Monthly_qty_sold.to_excel(writer, sheet_name='Monthwise Quantities')
    cate_sales.to_excel(writer, sheet_name='Category-wise Qty')
    sub_sales.to_excel(writer, sheet_name='Sub-channel Sales')
    Monthly_highsales.to_excel(writer, sheet_name='Monthly Highest')
    sub_sales.to_excel(writer, sheet_name='Sub-channel Sales')
    pd.DataFrame([highest_selling_product]).to_excel(writer, sheet_name='Highest Sold Product')
    pd.DataFrame(product_list, columns=["Product Name"]).to_excel(writer, sheet_name='Product List')